/*-- -------------------------- -->
<---      salmon-hero           -->
<--- -------------------------- -*/
#salmon-hero .Section_top .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#salmon-overview {
  .image-group {
    width: calc(730 / 16 * 1em);
    height: calc(561 / 16 * 1em);

    .cs-picture1 {
      width: calc(730 / 16 * 1em);
      height: calc(561 / 16 * 1em);
    }
  }
}

#salmon-location {
  .image-group {
    width: calc(598 / 16 * 1em);
    height: calc(536 / 16 * 1em);

    .cs-picture1 {
      width: calc(598 / 16 * 1em);
      height: calc(536 / 16 * 1em);
    }
  }
}

#salmon-bring {
  .image-group {
    width: calc(747 / 16 * 1em);
    height: calc(690 / 16 * 1em);

    .cs-picture1 {
      width: calc(747 / 16 * 1em);
      height: calc(690 / 16 * 1em);
    }
  }
}



#pricing {
    h3{
        text-align: center;
    }
    .cs-container{
        max-width: 90%;
        height: 315px;
        background-color: var(--bodyTextColorWhite);
        border-radius: 27px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    .pricing-card{
        border-radius: inherit;
        background-color: white;
        height:65%;
        width:30%;
        padding:25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5{
            color:#145FA4 ;
            font-weight: bold;
        }
        .budget{
            display: flex;
            flex-direction: row ;
            align-items: center;
            gap: 1rem;
            .price{
              margin-bottom: 0px;
            
            }
            .price:nth-child(2){
              color: var(--secondary);
            }
        }
    }
    .pricing-card:hover{
      cursor: pointer;
      background-color: var(--secondary);
      color: white;
      h5,span,p{
        color: white;
      }
      
    }
}
}


#overview {
.cs-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image-group {
  /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
  font-size: min(2vw, .8em);
  width: calc(779 / 16 * 1em);
  height: calc(542 / 16 * 1em);
  display: block;
  position: relative;
  z-index: 1;

  .cs-picture {
      position: absolute;
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
      }
  }
  .cs-picture1 {
      width: calc(779 / 16 * 1em);
      height: calc(542 / 16 * 1em);
      top: 0;
      left: 0;
  }

}

.text-content {
  max-width: 500px;
}
  div {
    .text-content {
      ul {
        li {
          margin: 18px;
        }
        li::marker{
          color: var(--primary);
          font-size: 23px;
        }
      }
    }
  }
}
#services {
  height: 364px;
  margin: auto;
  padding: var(--sectionPadding);
  .cs-container {
    position: relative;
    overflow: hidden;
    background-color: var(--secondary);
    border-radius: 27px;
    color: white;
    display: flex;
    padding: 56px;
    flex-direction: row;
    align-items: center;
    div:nth-child(1) {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h2,
    p {
      color: white;
      margin: 0px;
      text-align: left;
    }
  }
  img {
    top: -40px;
    border-radius: 50%;
    position: absolute;
    right: -44px;
    height: 392px;
    width: 38%;
    bottom: 10px;
  }
}
@media only screen and (min-width: 990px) {

  #overview{

      .cs-container {
          flex-direction: row;
      }

      .image-group {
          /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
          font-size: min(0.8vw, .8em);
      }

      .text-content {
          max-width: 500px;
      }
  }
  #services {
   
    .cs-container {
      position: relative;
      overflow: hidden;
      background-color: var(--secondary);
      border-radius: 27px;
      color: white;
      display: flex;
      padding: 56px;
      flex-direction: row;
      align-items: center;
      div:nth-child(1) {
        gap: 1rem;
        width: 70%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
      }
      h2,
      p {
        color: white;
        margin: 0px;
        text-align: left;
      }
    }
    .image{display: block;}
  }
}
 //tab view 
@media only screen and (min-width: 567px) and (max-width:990px) {
  #services {
    height: 364px;
    margin: auto;
    padding: var(--sectionPadding);
    .cs-container {
      position: relative;
      overflow: hidden;
      background-color: var(--secondary);
      border-radius: 27px;
      color: white;
      display: flex;
      padding: 56px;
      flex-direction: row;
      align-items: center;
      div:nth-child(1) {
        gap: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div.button-containr{
          display: flex;
          justify-content: center;
        }
      }
      h2,
      p {
        color: white;
        margin: 0px;
        text-align: center;
      }
    }
    .image{display: none;}
  }
  #overview {
    .cs-container {
      flex-direction: row;
      flex-direction: column;
    }

    .image-group {
      /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
      font-size: min(0.8vw, 0.8em);
    }

    .text-content {
      max-width: 500px;
      text-align: center;
      p{
        text-align: center;
      }
    }
  }
  #pricing{
    .cs-container{
      width: 98%;
      padding: 38px;
      .pricing-card{
        width: 30%;
        height: auto;
        .budget{
          flex-direction: column;
          align-items: start;
        }
        span.price{
          font-size: 1.5rem;
        }
        p{
          text-align: justify;
        }
      }
    }
  }
}

// mobile view
@media only screen and (max-width:568px){
  #services {
    
    margin: auto;
    padding: var(--sectionPadding);
   
    .cs-container {
      position: relative;
      overflow: hidden;
      background-color: var(--secondary);
      border-radius: 27px;
      color: white;
      display: flex;
      padding: 56px;
      flex-direction: row;
      align-items: center;
      div:nth-child(1) {
        gap: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div.button-containr{
          display: flex;
          justify-content: center;
        }
      }
      h2,
      p {
        color: white;
        margin: 0px;
        text-align: center;
      }
    }
    .image{
      display: none;
    }
  }
  #overview {
    .cs-container{
      flex-direction: column;
    }
    .text-content{
      text-align: center;
    }
    p{
      text-align: justify;
    }
    li{
      text-align:justify;
    }
  
  
  
  }
  #pricing{
    padding: 0px !important;
    margin: 6rem 0px;
    
    .cs-container{
      padding: 1rem;
      width: 90%;
      height: auto;
      background-color: var(--bodyTextColorWhite);
      border-radius: 27px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
      .pricing-card{
        width: 98%;
        
        .budget{
          flex-direction: row;
         align-items: center;
         justify-content: center;
         gap: 1rem;

        }
      }
     .pricing-card:nth-child(n),.budget{
      text-align: center;
     }
    }
    
  }
}